/*-- scss:defaults --*/

$body-bg: #A29797 !default;
$body-color: #fff !default;
$link-color: #42affa !default;
$input-panel-bg: rgba(233, 236, 239, 0.2) !default;

// Reveal slides Themes
// https://quarto.org/docs/presentations/revealjs/themes.html
// Reveal slides Themes source in github
// https://github.com/quarto-dev/quarto-cli/tree/main/src/resources/formats/revealjs/themes
